.error_wrapper{
    margin: 20px;
    padding: 10px;
    display: block;
    background-color: rgb(127, 232, 255);
    border-radius: 10px;
}

.error_wrapper__name_label{
    text-align: center;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}

.error_wrapper__error_papagraph{
    text-align: center;
    font-size: 18px;
}